html
{
	font-family: 'Titillium Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#nav
{
	float:right;
}
a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}
#logodiv
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 292px;
    height: 162px;
    margin-top: -81px;
    margin-left: -146px;
    display: none;
}
